// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #C4D7B2;
$secondary: #E1ECC8;
$dark: #9DC08B;
$black: #609966;

$font-family-sans-serif: "Bai Jamjuree", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Secondary navbar styles
.top-home-box {
  background-color: #E1ECC8;
  color: $black;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

.navbar-secondary-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// Header styles
header {
  background-color: #9DC08B;
}


// Footer styles
footer {
  padding-top: 2%;
}


// Home Page Styles
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#video-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.habitat-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.habitat-btn .col-md-6 {
  display: flex;
  justify-content: center;
}

.savana-btn, .jungle-btn, .bayou-btn {
  flex:1;
  max-width: 200px;
  margin: 10px;
}
.savana-btn {
  background-image: url(/assets/images/skins/cheetah-skin.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  width: 100%;
}

.jungle-btn {
  background-image: url(/assets/images/skins/tiger-skin.jpeg);
  background-position: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  width: 100%;
}

.bayou-btn {
  background-image: url(/assets/images/skins/crocodile-skin.jpeg);
  background-position: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  width: 100%;
}

.savana-btn:hover, .jungle-btn:hover, .bayou-btn:hover {
  opacity: 1;
  color: #E1ECC8;
}

.homeTitles {
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 2%;
}

// Carousel Styles for home page

.image-wrapper {
  max-width: 100%;
  height: 65vw;
  display: flex;
  justify-content: center;
}
.img .card-img-top {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
  .image-wrapper {
    height: 23vw;
  }
}

.carousel-inner {
  padding: 1em;
}

.card{
  height: 100%;
  margin: 0 .5em;
  box-shadow: 2px 6px 8px 0 rgba(22,22,26,.18);
  display: flex;
  flex-direction: column;
}

.carousel-control-prev, .carousel-control-next {
  width: 6vh;
  height: 6vh;
  background-color: #E1ECC8;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
}

.carousel-control-prev:hover, .carousel-control-next:hover{
  opacity: 1;
}

.card-body {
  padding: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card-title {
  color: $dark;
}

.btn-activity-card{
  align-self: flex-end;
}

// Review styles for home page

.review-background {
  margin-bottom: 5%;
  background-color: #E1ECC8;
  opacity: 0.5;
}

.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-bottom: 4%;
}

.bi-quote {
  font-size: larger;
}

// Ethics styles for home page


.homeEthics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.img-ethics {
  width: 50%;
  border-radius: 100%;
  margin-right: 20px;
}

.para-ethics {
  color: $black;
  font-size: 1.5em;
  flex: 1;
}

// Animail styles for home page

.newsletterSignUp {
  max-width: 100%;
}

.animailTitle {
  margin-bottom: 30px;
}

.animail-content-wrapper {
  margin-bottom: 30px;
}

.animail {
  margin-bottom: 20px;
}

.img-animail {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.animail-btn {
  margin-bottom: 4%;
}

@media (max-width: 768px) {
  .animailTitle {
    font-size: 24px;
  }
}

// Habitats page styles

.habitat__big__title{ 
  padding-top: 3%;
  font-weight: bold;
  color: $black;
}

.habitat__title {
  color: $dark;
  font-weight: 600;
}

.habitat__img {
  border-radius: 20px;
  width: 100%;
}


// Animals page styles

/* Base */

.animal__section__title{
  color: $black;
  font-weight: bold;
  padding-bottom: 3%;
  padding-left: 15%;
}

.animals__containers {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

/* Card */
.card__container {
  display: grid;
  place-items: center;
  padding-left: 12%;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
}

.card__animal__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 328px;
  height: 378px;
  border-radius: 1.5rem;
}


.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__data {
  width: 280px;
  background-color: #E1ECC8;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__animal__title {
  font-size: large;
  font-weight: 500;
  color: #9DC08B;
  margin-bottom: .75rem;
}

/* Heart emoji style */
.heart {
  cursor: pointer;
  margin-left: 5px;
}

/* Flying heart animation */
@keyframes fly {
  0% {
    opacity: 1;
    transform: translateY(0) translateX(0) rotate(0);
    
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh) translateX(calc(-50% + random() * 100vw)) rotate(1080deg);

  }
}

/* Apply flying animation to heart emojis */
.flying-heart {
  position: fixed;
  color: red;
  font-size: 24px; /* Adjust font size as needed */
  z-index: 9999; /* Ensure emojis are above other elements */
  pointer-events: none; /* Allow clicks to pass through the emojis */
  animation: fly 5s linear;
}

.like-counter {
  display: none;
  margin-left: 10px;
  display: inline;
}


.card__animal__btn {
  text-decoration: none;
  font-size: small;
  font-weight: 500;
  color: #609966;
}

.card__animal__btn:hover {
  text-decoration: underline;
}


/* Naming animations in hover */

.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remover-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}



/*=============== BREAKPOINTS ANIMALS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .animals__containers {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .animals__containers {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}


// Services page styles

.services__big__title {
  padding-top: 3%;
  font-weight: bold;
  color: $black;
}

.services__title {
  color: $dark;
  font-weight: 600;
  padding-bottom: 2%;
}

.restaurant__section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  margin-bottom: 70px;
}

.resto__jungle {
  background-image: url('/assets/images/about/asianFood.jpeg');
  background-size: cover;
}

.resto__safari {
  background-image: url('/assets/images/about/picnicFood.jpeg');
  background-size: cover;
}

.resto__bayou {
  background-image: url('/assets/images/about/southernFood.jpeg');
  background-size: cover;
}

.resto__name {
  color: white;
}

.services__img {
  border-radius: 30px;
  width: 100%;
}

// Contact page styles
article {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact__container {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact__left__title h2 {
  color: $black;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact__left__title hr {
  border: none;
  width: 150px;
  height: 5px;
  background-color: #609966;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact__left__input {
  width: 400px;
  height: 50px;
  border: #E1ECC8 2px solid;
  outline: none;
  padding-left: 25px;
  border-radius: 50px;
}

.contact__left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact__left__input:focus {
  border: #9DC08B 2px solid;
}

.contact__left button {
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 15px 30px;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #609966, #83ad7b, #a3c293, #c3d6ac, #e1ecc8);
  cursor: pointer;
}

.contact__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=============== BREAKPOINTS Contact ===============*/
@media(max-width:720px){
  .contact__container {
    width: 70vw;
    padding: 5%;
  }
  .contact__right {
    display: none;
  }
}

// Login page styles
.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 17%;
}

.login__title h1 {
  color: $black;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.login__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 5%;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.login__input {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 50px;
  border: #E1ECC8 2px solid;
  outline: none;
  padding-left: 25px;
  border-radius: 50px;
}

.login__title hr {
  border: none;
  height: 5px;
  background-color: #609966;
  border-radius: 10px;
  margin-bottom: 20px;
}

// Reviews page styles

.employee__reviews__container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 9%;
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.reviews__item__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 3%;
}

.reviews__item__message {
  padding: 2% 4%;
  border: solid 2px #609966;
  border-radius: 10px;
}

.reviews__item__buttons {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}

.reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 17%;
}


.reviews__title h1 {
  color: $black;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.reviews__title hr {
  border: none;
  height: 5px;
  background-color: #609966;
  border-radius: 10px;
  margin-bottom: 20px;
}

.reviews__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.reviews__input {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 50px;
  border: #E1ECC8 2px solid;
  outline: none;
  padding-left: 25px;
  border-radius: 50px;
}

.reviews__messages {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 200px;
  border: #E1ECC8 2px solid;
  outline: none;
  padding-left: 25px;
  border-radius: 20px;
}


// ================== DASHBOARDS STYLES =====================

// Admin Dashboard
.dashboard-content {
  margin-bottom: 30px;
  align-items: center;
}
.form-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 20px;
}
.list-container {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.big_title_dash {
  color: $black;
  padding-top: 2%;
  padding-bottom: 3%;
}

.dashboard-content-title {
  color: $dark;
}

.btn-submit {
  margin-top: 15px;
}

