// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #C4D7B2;
$secondary: #E1ECC8;
$dark: #9DC08B;
$black: #609966;

$font-family-sans-serif: "Bai Jamjuree", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

// Home Page Styles
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#video-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.habitat-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.habitat-btn .col-md-6 {
  display: flex;
  justify-content: center;
}

.savana-btn, .jungle-btn, .bayou-btn {
  flex:1;
  max-width: 200px;
  margin: 10px;
}
.savana-btn {
  background-image: url(/assets/images/skins/cheetah-skin.jpeg);
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  width: 100%;
}

.jungle-btn {
  background-image: url(/assets/images/skins/tiger-skin.jpeg);
  background-position: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  width: 100%;
}

.bayou-btn {
  background-image: url(/assets/images/skins/crocodile-skin.jpeg);
  background-position: center;
  opacity: 0.7;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  width: 100%;
}

.savana-btn:hover, .jungle-btn:hover, .bayou-btn:hover {
  opacity: 1;
  color: #E1ECC8;
}

